.raised-button {
  background-color: hotpink;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

.register-button {
  margin-left: 1rem;
  background-color: cyan;
}

.submit-button {
  float: right;
  margin: 2rem 0.5rem 0;
}
.submit-button--register {
  background-color: cyan;
}
