.io-element {
  display: block;
  width: 4px;
  height: 20px;
  padding: 2px;
  /* border-top-left-radius: 110px; 100px of height + 10px of border */
  opacity: 0.8;
  border: 1px solid transparent;
  background-color: #e2e2e2;
  border-left: 0;
  position: absolute;
  transition: transform 0.2s;
  top: 16px;
}
.io-element:hover {
  cursor: pointer;
  transform: scale(2, 1);
}
.io-element:hover .tooltip {
  visibility: visible;
  transform: scale(0.5, 1);
}
.io-element--freq {
  top: 48px;
}
.io-element--right {
  border-left: 1px solid transparent;
  border-right: 0;
  right: 0;
}

.io-element--active {
  background-color: #f50057;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  right: 0;
  z-index: 999999;
}

form {
  padding: 0px 16px;
}

.input {
  z-index: 90;
  font-size: 12px !important;
  width: 100% !important;
  display: block !important;
}

.toggle {
  width: 50px !important;
}
