.menu {
  list-style-type: none;
  padding: 14px 0;
}
.menu-title {
  font-size: 14px;
}
.menu-item {
  padding: 14px;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  margin-bottom: 14px;
  font-size: 14px;
}
.menu-item:hover {
  cursor: pointer;
  background-color: white;
  color: #4b4b4b;
  border-color: white;
}
.menu-item--disabled {
  background-color: #4b4b4b;
  color: #777777;
  border-color: #777777;
}
.menu-item--disabled:hover {
  cursor: inherit;
  background-color: #4b4b4b;
  color: #777777;
  border-color: #777777;
}

.create-osc-button {
  color: #53a857;
  border-color: #53a857;
}
.create-osc-button:hover {
  background-color: #53a857;
  border-color: #53a857;
  color: white;
}
.create-filter-button {
  color: #fdd835;
  border-color: #fdd835;
}
.create-filter-button:hover {
  background-color: #fdd835;
  border-color: #fdd835;
  color: white;
}
.create-envelope-button {
  color: #e53935;
  border-color: #e53935;
}
.create-envelope-button:hover {
  background-color: #e53935;
  border-color: #e53935;
  color: white;
}
.create-gain-button {
  color: #337ab7;
  border-color: #337ab7;
}
.create-gain-button:hover {
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
}
