.main-menu-button {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none !important;
}
.sidebar-header {
  display: flex;
  justify-content: center;
  padding: 32px;
}
.sidebar-bottom {
  display: flex;
  flex-direction: column;
}
.sidebar-bottom__lower {
  bottom: 0;
  position: absolute;
  margin-bottom: 2rem;
}
