.createblock-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.code-dialog-button {
  position: fixed;
  bottom: 118px;
  right: 40px;
}

.share-menu-button {
  position: fixed;
  bottom: 186px;
  right: 40px;
}
