.sidebar-button {
  z-index: 999;
  position: fixed;
  bottom: 106px;
  right: 30px;
}
.sidebar-header {
  display: flex;
  justify-content: center;
  padding: 32px;
}
.sidebar-bottom {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
}
.sidebar-bottom__lower {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
