.topbar {
  z-index: 999;
  border-radius: 0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}
.topbar h1 {
  font-weight: 100 !important;
  font-size: 32 !important;
  color: #212121 !important;
  height: 48px !important;
  line-height: 52px !important;
}

.topbar button {
  color: #212121 !important;
}

.logo {
  width: 32px !important;
}

.success-text {
  margin-top: 48px;
  color: rgb(0, 188, 212);
}

.share-form {
  width: 400px;
  padding: 0px;
}
.share-form input {
}
