.topbar {
  z-index: 999;
  border-radius: 0;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}
.topbar h1 {
  font-weight: 100 !important;
  font-size: 32 !important;
  color: black !important;
  height: 48px !important;
  line-height: 52px !important;
}

.topbar button {
  color: black !important;
}

.logo {
  width: 32px !important;
}
