.io-element {
  display: block;
  width: 6px;
  height: 24px;
  padding: 2px;
  /* border-top-left-radius: 110px; 100px of height + 10px of border */
  border: 1px solid #e2e2e2;
  background-color: #e2e2e2;
  border-left: 0;
  position: absolute;
  transition: transform 0.2s;
  top: 16px;
}
.io-element:hover {
  cursor: pointer;
  transform: scale(1.5, 1);
}
.io-element--right {
  border-left: 1px solid #e2e2e2;
  border-right: 0;
  right: 0;
}

.io-element--active {
  background-color: #f50057;
}

form {
  padding: 0px 16px;
}

.input {
  z-index: 90;
}
