.block-container {
  display: inline-block;
  position: absolute;
}
.io-element {
  display: block !important;
  width: 6px !important;
  height: 20px !important;
  /* border-top-left-radius: 110px; 100px of height + 10px of border */
  opacity: 0.8 !important;
  border: 1px solid transparent;
  background-color: #f2f2f2;
  border-left: 0 !important;
  position: absolute !important;
  transition: transform 0.2s;
}
.io-button {
  position: absolute !important;
  display: block !important;
  width: 6px !important;
  height: 20px !important;
  top: 16px !important;
  padding: 0px !important;
}
.io-element:hover {
  cursor: pointer;
  transform: scale(2, 1);
}
.io-button--freq {
  top: 48px !important;
}
.io-element--right,
.io-button--right {
  border-left: 1px solid transparent;
  border-right: 0;
  right: 0 !important;
}

.io-element--active {
  background-color: #f50057;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  right: 0;
  z-index: 999999;
}

form {
  padding: 0px 16px;
}

.input {
  z-index: 90;
  font-size: 10px !important;
  width: 100% !important;
  display: block !important;
  color: white !important;
}
.input label,
.input input,
.input div {
  color: white !important;
}
.input--black input {
  color: black !important;
}

.toggle {
  width: 50px !important;
}
