.block-container {
  display: inline-block;
  position: absolute;
}
.io-element {
  display: block;
  width: 6px;
  height: 20px;
  /* border-top-left-radius: 110px; 100px of height + 10px of border */
  opacity: 0.8;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-left: 0;
  position: absolute;
  transition: transform 0.2s;
}
.io-button {
  position: absolute;
  display: block;
  width: 6px;
  height: 20px;
  top: 16px;
  padding: 0px;
}
.io-element:hover {
  cursor: pointer;
}
.io-button--freq {
  top: 48px;
}
.io-element--right {
  border-right: 0;
  width: 8px;
}
.io-button--right {
  border-right: 0;
  right: -5px;
}

.io-element--active {
  background-color: #f50057;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  right: 0;
  z-index: 999999;
}

form {
  padding: 0px 16px;
}

.input {
}
.input--black input,
.input--black label {
  color: black;
}
